* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.cesium-viewer-bottom {
  display: none !important;
}

#tileLoading {
  display: none;
  position: absolute;
  width: 200px;
  height: 40px;
  left: 40px;
  bottom: 40px;
  background: rgba(0, 0, 0, 0.6);
  z-index: 9999;
  text-align: center;
  line-height: 40px;
  color: #fff;
  font-weight: bold;
}

#headerWrap {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  right: 0;
  height: 0;
  background: #5eb2ff;
}
#headerWrap > div {
  height: 100%;
  line-height: 0;
}
#headerWrap #centerWrap {
  display: block;
  max-width: 1152px;
  margin: 0 auto;
  position: relative;
}
#headerWrap #logoWrap {
  display: inline-block;
  width: 105px;
  color: #fff;
  cursor: pointer;
}
#headerWrap #previewWrap {
  margin-left: 60px;
  position: absolute;
  top: 0;
  color: #fff;
  left: 105px;
  right: 340px;
  cursor: pointer;
}
#headerWrap #menuWrap {
  display: inline-block;
  width: 340px;
  float: right;
}
#headerWrap #menuWrap span {
  display: inline-block;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  width: 80px;
}
#headerWrap #menuWrap a {
  text-decoration: none;
  color: #fff;
}

#mapWrap {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
#mapWrap > div {
  display: inline-block;
}
#mapWrap .drawTooltip {
  position: absolute;
  z-index: 999;
  font-family: Lato, "Helvetica Neue", Arial, Helvetica, sans-serif;
  padding: 1px 7px;
  background-color: rgba(255, 0, 0, 0.7);
  color: #fff;
  border: 1px solid #fff;
  border-radius: 4px;
}
#mapWrap #centerPos {
  position: absolute;
  bottom: 5px;
  right: 15px;
  z-index: 999;
}
#mapWrap #searchResultWrap {
  position: absolute;
  display: none;
  left: 15px;
  top: 70px;
  width: 368px;
  bottom: 15px;
  background: #fff;
  z-index: 998;
  background: #fff;
  border-radius: 8px 8px 0 0;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}
#mapWrap #searchResultWrap div.title {
  position: absolute;
  width: 100%;
  background: #5eb2ff;
  color: #fff;
  border-radius: 6px 6px 0 0;
}
#mapWrap #searchResultWrap div.title span {
  display: inline-block;
  padding: 10px 10px 10px 20px;
  font-weight: bold;
}
#mapWrap #searchResultWrap div.title #btnSearchClose {
  float: right;
  width: 25px;
  height: 25px;
  color: #fff;
  padding: 10px;
  cursor: pointer;
}
#mapWrap #searchResultWrap #countWrap {
  position: absolute;
  top: 60px;
  font-weight: bold;
  right: 25px;
  font-size: 10pt;
}
#mapWrap #searchResultWrap #countWrap #count {
  color: red;
}
#mapWrap #searchResultWrap #itemsWrap {
  position: absolute;
  top: 80px;
  left: 25px;
  right: 25px;
  bottom: 70px;
  overflow: auto;
  margin-right: -10px;
}
#mapWrap #searchResultWrap #itemsWrap .inputWrap {
  padding: 15px;
  font-size: 10pt;
}
#mapWrap #searchResultWrap #itemsWrap .btnWrap {
  margin-bottom: 20px;
  text-align: center;
}
#mapWrap #searchResultWrap #itemsWrap .btnWrap button {
  outline: 0;
  border-radius: 0;
  border: 0;
  padding: 10px;
  width: 80px;
  color: #fff;
  cursor: pointer;
}
#mapWrap #searchResultWrap #itemsWrap .btnWrap #btnRefresh {
  background: grey;
}
#mapWrap #searchResultWrap #itemsWrap .btnWrap #btnSearch {
  background: #35b1ad;
}
#mapWrap #searchResultWrap #itemsWrap .searchResultWrap {
  padding: 0 10px 20px;
  display: none;
}
#mapWrap #searchResultWrap #itemsWrap .searchResultWrap .countWrap {
  text-align: right;
  font-weight: 700;
}
#mapWrap #searchResultWrap #itemsWrap .searchResultWrap .countWrap .count {
  color: #5eb2ff;
}
#mapWrap #searchResultWrap #itemsWrap .item {
  line-height: 13px;
  padding: 10px 0;
  border-bottom: 1px solid #d2d2d2;
  cursor: pointer;
}
#mapWrap #searchResultWrap #itemsWrap .item span {
  display: block;
}
#mapWrap #searchResultWrap #itemsWrap .item .itemTitle {
  font-weight: 700;
  font-size: 11pt;
  margin-bottom: 8px;
}
#mapWrap #searchResultWrap #itemsWrap .item .itemRoadAddr {
  font-size: 9pt;
}
#mapWrap #searchResultWrap #itemsWrap .item .itemAddr {
  font-size: 9pt;
}
#mapWrap #searchResultWrap #paginationWrap {
  position: absolute;
  left: 15px;
  right: 15px;
  bottom: 15px;
  height: 40px;
}
#mapWrap #searchWrap {
  position: relative;
  z-index: 999;
  background: #fff;
  top: 15px;
  left: 15px;
  width: 368px;
  border-radius: 8px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}
#mapWrap #searchWrap .icon {
  position: absolute;
  top: 0;
  width: 17px;
  height: 100%;
  padding: 0 14px;
  color: #5eb2ff;
  cursor: pointer;
}
#mapWrap #searchWrap .right {
  right: 0;
  width: 20px;
  color: #2b2b2b;
}
#mapWrap #searchWrap #keywordIcon {
  position: absolute;
  left: 5px;
  top: 5px;
}
#mapWrap #searchWrap #keyword {
  margin: 5px;
  width: 358px;
  padding-left: 40px;
  padding-right: 40px;
  font-size: 10pt;
}
#mapWrap #searchWrap #keyword:focus {
  box-shadow: 0 0 0 1px rgba(13, 110, 253, 0.25);
}
#mapWrap #mapMenuWrap {
  position: absolute;
  right: 5px;
  top: 15px;
  z-index: 999;
}
#mapWrap #mapMenuWrap .btn {
  background: #fff;
  border-radius: 5px;
  padding: 0;
  margin-right: 10px;
  cursor: pointer;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1);
}
#mapWrap #mapMenuWrap .btn:hover, #mapWrap #mapMenuWrap .btn.active {
  border: 1px solid #fff;
}
#mapWrap #mapMenuWrap .btn:hover .icon:not(.one), #mapWrap #mapMenuWrap .btn.active .icon:not(.one) {
  color: #5eb2ff;
}
#mapWrap #mapMenuWrap .btn:focus, #mapWrap #mapMenuWrap .btn:hover, #mapWrap #mapMenuWrap .btn:visited {
  border: 1px solid #fff;
}
#mapWrap #mapMenuWrap .btn span {
  display: inline-block;
  color: #212529;
  font-size: 11pt;
}
#mapWrap #mapMenuWrap .btn .iconWrap {
  display: inline-block;
}
#mapWrap #mapMenuWrap .btn .iconWrap .iconTooltip {
  display: none;
  position: absolute;
  border-radius: 15px;
  bottom: -25px;
  background: #2b2b2b;
  color: #fff;
  z-index: 999;
  font-size: 9pt;
  padding: 2px 5px;
  white-space: nowrap;
  margin-left: -8px;
}
#mapWrap #mapMenuWrap .btn .iconWrap:hover .iconTooltip {
  display: block;
}
#mapWrap #mapMenuWrap .btn .icon {
  position: absolute;
  top: 0;
  width: 20px;
  height: 100%;
  padding: 0 10px;
  cursor: pointer;
  display: block;
}
#mapWrap #mapMenuWrap .btn .icon:hover.one {
  color: #5eb2ff;
}
#mapWrap #mapMenuWrap .btn .icon.big {
  width: 30px;
}
#mapWrap #mapMenuWrap .btn .icon.small {
  width: 25px;
}
#mapWrap #mapMenuWrap .btn .txt {
  padding: 10px 10px 10px 35px;
}
#mapWrap #mapMenuWrap .btn .txt.hidden {
  text-indent: -9999px;
  padding: 10px 10px 10px 30px;
}
#mapWrap #mapMenuWrap .btn .menuPop {
  display: none;
  position: absolute;
  top: 55px;
  padding: 8px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1);
}
#mapWrap #mapMenuWrap .btn .menuPop .menuWrap {
  border-radius: 10px;
  background: #e8e8e8;
  text-align: center;
  margin: 5px 5px 18px 5px;
  width: 46px;
  height: 46px;
  display: inline-block;
}
#mapWrap #mapMenuWrap .btn .menuPop .menuWrap:hover .menu, #mapWrap #mapMenuWrap .btn .menuPop .menuWrap:hover .txt, #mapWrap #mapMenuWrap .btn .menuPop .menuWrap.active .menu, #mapWrap #mapMenuWrap .btn .menuPop .menuWrap.active .txt {
  color: #5eb2ff;
}
#mapWrap #mapMenuWrap .btn .menuPop .menuWrap .menu {
  display: block;
  width: 22px;
  height: 22px;
  padding: 12px;
  margin: 0 auto;
}
#mapWrap #mapMenuWrap .btn .menuPop .menuWrap .txt {
  position: relative;
  bottom: 1px;
  display: block;
  padding: 0;
  font-size: 8pt;
  white-space: nowrap;
}
#mapWrap #mapMenuWrap .btn .menuPop .selectWrap {
  text-align: left;
}
#mapWrap #mapMenuWrap .btn .menuPop .selectWrap .form-check {
  display: inline-block;
}
#mapWrap #mapMenuWrap .btn .menuPop .selectWrap .form-check label {
  margin-left: -10px;
  white-space: nowrap;
  padding-left: 5px;
  min-width: 53px;
}
#mapWrap #mapMenuWrap .btn .menuPop .selectWrap .title {
  display: inline-block;
  width: 60px;
  font-weight: bold;
}
#mapWrap #mapControlWrap {
  position: absolute;
  z-index: 999;
  right: 15px;
  bottom: 30px;
}
#mapWrap #mapControlWrap .iconWrap {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1);
}
#mapWrap #mapControlWrap .iconWrap span {
  display: none;
  position: absolute;
  border-radius: 15px;
  right: 45px;
  margin-top: 10px;
  background: #2b2b2b;
  color: #fff;
  z-index: 999;
  font-size: 9pt;
  padding: 2px 5px;
  white-space: nowrap;
}
#mapWrap #mapControlWrap .iconWrap:hover span {
  display: block;
}
#mapWrap #mapControlWrap .iconWrap.active {
  color: #5eb2ff;
}
#mapWrap #mapControlWrap #compassWrap {
  overflow: hidden;
  cursor: pointer;
}
#mapWrap #mapControlWrap .icon {
  display: block;
  padding: 7px;
  background: #fff;
  border-radius: 5px;
  width: 28px;
  height: 28px;
  cursor: pointer;
}
#mapWrap #mapControlWrap .icon.compass {
  width: 42px;
  height: 43px;
  pointer-events: none;
}
#mapWrap #mapControlWrap .icon.top {
  border-radius: 5px 5px 0 0;
  border-bottom: 1px solid lightgrey;
}
#mapWrap #mapControlWrap .icon.center {
  border-radius: 0;
}
#mapWrap #mapControlWrap .icon.bottom {
  border-radius: 0 0 5px 5px;
  border-top: 1px solid lightgrey;
}
#mapWrap #mapControlWrap .icon:hover {
  color: #5eb2ff;
}
#mapWrap #mapControlWrap .icon.active {
  color: #5eb2ff;
}
#mapWrap #mapControlWrap .split {
  display: block;
  height: 10px;
}
#mapWrap #map {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index: 99;
}
#mapWrap #map.split {
  width: 50%;
}
#mapWrap #map3d {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  background: gray;
  display: none;
}
#mapWrap #map3d.split {
  width: 50%;
  display: inline-block;
}

#info-modal {
  display: none;
  position: absolute;
  left: 200px;
  top: 110px;
  width: 700px;
  height: 300px;
  background-color: white;
  z-index: 9999;
  box-shadow: 0 0 10px #000;
}
#info-modal .modal-header {
  display: inline-flex;
  width: 100%;
  height: 50px;
  background-color: #5eb2ff;
  line-height: 50px;
  color: #fff;
}
#info-modal .modal-header .modal-title {
  padding-left: 20px;
  width: calc(100% - 50px);
}
#info-modal .modal-header .modal-close {
  width: 50px;
  height: 50px;
  text-align: center;
}
#info-modal .modal-header .modal-close svg {
  width: 30px;
  height: 30px;
  cursor: pointer;
  position: relative;
  top: 50%;
  transform: translate(0, -50%);
}
#info-modal .modal-body {
  width: 100%;
  height: calc(100% - 50px);
  padding: 10px 20px;
}
#info-modal .modal-body .modal-info-tbl {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 10px;
}
#info-modal .modal-body .modal-info-tbl:first-child {
  height: 50px;
}
#info-modal .modal-body .modal-info-tbl tr {
  height: 38px;
}
#info-modal .modal-body .modal-info-tbl tr:first-child {
  border-top: 1px solid black;
}
#info-modal .modal-body .modal-info-tbl tr:last-child {
  border-bottom: 1px solid black;
}
#info-modal .modal-body .modal-info-tbl th {
  text-align: center;
  background-color: #edf6ff;
  border-right: 1px solid #d6d6d6;
  border-left: 1px solid #d6d6d6;
}
#info-modal .modal-body .modal-info-tbl td {
  text-align: center;
  border-right: 1px solid #d6d6d6;
  border-left: 1px solid #d6d6d6;
}

/*# sourceMappingURL=map.css.map */
